* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width:550px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: dodgerblue;
}

.header h1 {
    color: white;
    padding: 15px;
}

.body {
    flex: 1;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 30px;
    overflow: auto;
}

.message {
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}

.csa_message {
    margin-left: auto;
    background-color: white;
    color: black;
}

.chatbot_output_display {
    position: absolute;
    text-align: center;
    width: 500px;
    height: 150px;
    background-color: #FF8C00;
    color: white;
    display: none;
    border-radius: 10px;
    display: none;
}

.chatbot_output_display button {
    font-size: 18px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}

.csa_agent {
    height: 35px;
}

.chatbot_icon {
    height: 45px;
}

.footer form {
    display: flex;
}

form input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}


form button {
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}