<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Customer Support</title>
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            var html_template = '<div class="chatbot_output_display" id="zero" style="margin-bottom: 5px"><img src="https://cdn-icons.flaticon.com/png/512/2593/premium/2593635.png?token=exp=1640623968~hmac=1bbf5e845a947966e153542c0b4f937d" align="left" class="chatbot_icon"><h2 style="margin-bottom: 5px">Chatbot</h2>Ich habe folgende zwei Antworten bereitgestellt.<br><button id="chatbot_output" class="test"><span></span></button><i onclick="changeColor_chatbot_analytical_output()" id="btn_chatbot_analytical_output" class="fa fa-thumbs-down"></i><button id="chatbot_emo_output"><span></span></button><i onclick="changeColor_chatbot_emo_output()" id="btn_chatbot_emo_output" class="fa fa-thumbs-down"></i><div id="btn_chatbot_output" class="chatbot_output_display_edit_button" id="zero"><button id="chatbot_output_edit"><span>Edit</span></button><button id="chatbot_emo_output_edit"><span>Edit</span></button></div></div>'
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('join', {});
                });
                socket.on('status_user_connected', function(data) {
                    $('<p class="message" style="margin-top: 15px; padding: 10px;">' + data.msg + ' </p>').appendTo('#chate');
                    $('#chate').scrollTop($('#chate')[0].scrollHeight);
                });

                 socket.on('status_csa_connected', function(data) {
                    $('<p class="message csa_message" style="margin-top: 15px; padding: 10px;">' + data.msg + '</p>').appendTo('#chate');
                    $('#chate').scrollTop($('#chate')[0].scrollHeight);
                });

                socket.on('analytical_chatbot', function(data) {
                    $("#zero").show()
                    $("#chatbot_output span").text(data.msg);
                    console.log($("#chatbot_output span").text())
                });

                socket.on('emotional_chatbot', function(data) {
                    $("#chatbot_emo_output span").text(data.msg);
                    console.log($("#chatbot_emo_output span").text())
                });

                socket.on('message', function(data) {
                    $('<p class="message" style="margin-top: 15px; padding: 10px;"><img src="https://cdn-icons.flaticon.com/png/512/3194/premium/3194712.png?token=exp=1640627188~hmac=a7c6daf30d8d3b286da716489de9a725" class="csa_agent">' + data.msg + ' </p>').appendTo('#chate');
                    $("#zero").remove()
                    $(html_template).appendTo('#chate')
                    $('#chate').scrollTop($('#chate')[0].scrollHeight);
                });

                socket.on('message_to_csa', function(data) {
                    $('<p class="message csa_message" style="margin-top: 15px; padding: 10px;"><img src="https://cdn-icons.flaticon.com/png/512/870/premium/870175.png?token=exp=1640625194~hmac=d07bcb43254f996096e0bbfe20caedbe" class="csa_agent">' + data.msg + '</p>').appendTo('#chate');
                    $('#chate').scrollTop($('#chate')[0].scrollHeight);
                });

                $('#send').click(function(e) {
                    text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                });

                $('#chate').on('click', '#chatbot_output', function(e) {
                    console.log($("#chatbot_output span").text())
                    text = $("#chatbot_output span").text();
                        $("#zero").remove()
                        socket.emit('send_data_to_client', {msg: text});
                });

                $('#chate').on('click', '#chatbot_emo_output span', function(e) {
                    console.log($("#chatbot_emo_output span").text())
                    text = $("#chatbot_emo_output span").text();
                        $("#zero").remove()
                        socket.emit('send_data_to_client', {msg: text});
                });

                $('#chate').on('click', '#chatbot_output_edit', function(e) {
                     text_change = $('#chatbot_emo_output span').text();
                     document.getElementById("text").value=text_change;
                     socket.emit('clicked_chatbot_output_edit', {msg: text});
                     $("#zero").remove()
                });

                $('#chate').on('click', '#chatbot_emo_output_edit', function(e) {
                     text_change = $('#chatbot_output span').text();
                     document.getElementById("text").value=text_change;
                     socket.emit('clicked_chatbot_output_edit', {msg: text});
                     $("#zero").remove()
                });
                $("#text").keypress(
                    function(event){
                        if (event.which == '13') {
                            event.preventDefault();
                            text = $('#text').val();
                            $('#text').val('');
                            socket.emit('text', {msg: text});
                        }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('index') }}";
                });
            }

            function changeColor_chatbot_analytical_output(){
                document.getElementById("btn_chatbot_analytical_output").style.color="red";
                text = $("#chatbot_output span").text();
                socket.emit('disliked_message', {msg: text});
            }

            function changeColor_chatbot_emo_output(){
                document.getElementById("btn_chatbot_emo_output").style.color="red";
                text = $("#chatbot_emo_output span").text();
                socket.emit('disliked_message', {msg: text});

            }

        </script>
  </head>

  <body>
  <div class="container">
      <div class="header">
          <h1>Customer Support</h1>
      </div>
      <div id="chate" class="body">
          <div class="message csa_message" id="csa"></div>
          <div class="message" id="user"></div>
      </div>
      <div class="footer">
          <form method="post">
              <input type="text" id="text">
              <button type="button" id="send">Send</button>
          </form>
      </div>
      <button type="button" onclick=leave_room()>Verlassen</button>
  </div>
  </body>
</html>