<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Penguin Coders Chat</title>
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('join', {});
                });
                socket.on('ola', function(data) {
                    $("#chat").append('<li>' + data.msg + '</li>')
                    $("#chatbot_output").show()
                    $("#chatbot_output span").text(data.msg);
                    console.log($("#chatbot_output span").text())
                });
                socket.on('emot', function(data) {
                    $("#chatbot_emo_output").show()
                    $("#chatbot_emo_output span").text(data.msg);
                    console.log($("#chatbot_emo_output span").text())
                });
                socket.on('message', function(data) {
                   /*$('#chat').val($('#chat').val() + data.msg + '\n');
                    */
                    $("#chate").append('<li>' + data.msg + '</li>')
                    $('#chate').scrollTop($('#chate')[0].scrollHeight);
                });
                $('#send').click(function(e) {
                    text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                });
                $('#chatbot_output').click(function(e) {
                    text = $("#chatbot_output span").text();
                        $("#chatbot_output span").text('')
                        $("#chatbot_output").hide()
                        $("#chatbot_emo_output").hide()
                        socket.emit('fck', {msg: text});
                });
                $('#chatbot_emo_output').click(function(e) {
                    text = $("#chatbot_emo_output span").text();
                        $("#chatbot_emo_output span").text('')
                        $("#chatbot_emo_output").hide()
                        $("#chatbot_output").hide()
                        socket.emit('fck', {msg: text});
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('index') }}";
                });
            }
        </script>
  </head>

  <body class="text-center">
    <div class="chatwindow">
      <h2 >Customer Support</h2>
      <div id="chate">
          <div class="center-bottom">
              <button id="chatbot_output"> <span></span> </button>
               <button id="chatbot_emo_output"> <span></span> </button>
          </div>
      </div>
      <form method="post"> <input type="text" id="text" size="60" name="user_input" placeholder="Enter your message here" /></form>
      <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
      </div>
      <center><button type="button" class="btn btn-danger" onclick=leave_room()>Leave this Chat</button></center>
    </div>
  </body>
</html>